.top-menu
  .container
    background: white
    border-bottom: 1px solid #e0e0e0   
  .nav
    margin: 0 auto
    width: 510px
    li
      a
        color: #b5b5b5
        display: inline-block
        font-size: $font-base + 1
        padding: 15px 20px
        display: block
        text-transform: capitalize
        float: left
        border-left: 1px solid #e0e0e0        
        &.last
          border-right: 1px solid #e0e0e0
          
        &.active,&:hover
          opacity: 0.8
          +transition(all 0.25s  ease-in-out 0s)  
          color: #fff
          background: #2563b4
          border-color: #2563b4          
          .fa
            color: white 
  &#targetMenu
    .nav   
      width: 645px     
#subscriber-item
  a 
    padding: 6px 25px   
    margin: 3px 0 0 15px
    color: white  
    .fa
      font-size: 24px
      margin-right: 5px
      vertical-align: -2px

.account-menu
  margin: 8px 0 5px 0
  li
    display: inline
    a
      font-size: $font-base - 2 
      text-transform: capitalize
      font-family: $avenir-heavy
      &:hover
        color: $colorText
    & + li
      +padding(0 0 0 8px)
      background: url(../images/dot.png) no-repeat left 8px
#targetMenu
  display: none
  width: 100%
  +position(fixed, 0 null null null) 
.menu-top
  float: left
  margin: 9px 0 0 30px
  li
    display: inline
    margin: 0 9px
    a
      color: $colorText
      &:hover
        color: $link
.tab-menu
  padding-top: 18px
  +background(#2563b4)
  text-align: center
  li
    display: inline-block
    a 
      color: #5c8dd0
      display: inline-block
      padding: 10px 20px
      border-radius: 3px 3px 0 0
      &.active
        position: relative
        &:after 
          +position(absolute, null null -6px 50%)
          +transform(rotate(45deg))
          +size(12px 12px)
          content: ""
          margin-left: -6px
          background: #1b4e90      
      &.active,&:hover
        color: white
        background: #1b4e90
        border-radius: 3px 3px 0 0
.fa
  margin-right: 5px
  font-size: 16px